* {
    box-sizing: border-box;
}

body {
    background-color: #1d2433;
    color: #fff;
    font-family: 'montserrat', Sans-serif;
    margin: 0;
    --color-a:#ddd;
    --color-h:#5ccfe6;
    --color-p:#bae67e;
    --color-span:#ffd580;
    --color-li: #c3a6ff;
}

h1, h2 ,h3, h4, h5, h6 {
    color: var(--color-h);
    font-size: 1.5rem;
}

p {
    color: var(--color-p);
    display: block;
    word-wrap: pretty;
}

a {
    color: var(--color-a);
}

span {
    color: var(--color-span);
}

ul{
    display: block;
}

li {
    color: var(--color-li);
}


pre {
    max-width: 440px;
    margin: 0;
    overflow-x: auto;
    white-space: pre-wrap;  
    word-wrap: break-word;  
}

section {
    width: clamp(100px, 100%, 900px);
    margin: 20px auto;
}

.imagen-extencion {
    width: min(600px, 100%);
    max-height: 400px;
}

.imagen-container {
    text-align: center;
}

.code {
    color: var(--color-a);
}
